
    
    .formSubscription {
       font-family: Raleway;   
    }
    
    .info {
        font-style: italic;
        color: grey;
    }
    
    li {
        float: left;
        border-right: 1px solid #bbb;
    }
